.img-hover-zoom--slowmo {
    overflow: hidden;
  }
  
  .img-hover-zoom--slowmo .img {
    transform-origin: 50% 65%;
    transition: transform 0.3s , filter 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center center;
  }
  
  .img-hover-zoom--slowmo:hover .img {
    filter: brightness(100%);
    transform: scale(1.5);
    height: 100%;
    background-position: center center;
  }
  @media (min-width: 100px) and (max-width: 300px){
    .view1{
      width: 100% !important;
      height: 58vh !important;
    }
    .grid-view-class{
      display: none ;
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px){
    .view1{
      width: 100% !important;
      height: 49vh !important;
    }
    .grid-view-class{
      display: none ;
    }
  }

  @media (min-width: 481px) and (max-width: 768px){
    .view1{
      width: 50% !important;
      float: left;
      height: 44vh !important;
    }
    .grid-view-class{
      display: none ;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px){
    .view1{
      width: 50% !important;
      float: left;
      height: 42vh !important;
    }
  }
  @media (min-width: 1025px) and (max-width: 1201px){
    .view1{
      width: 50% !important;
      float: left;
      height: 41vh !important;
    }
  }

  @media (min-width: 1280px){
    .view1{
      width: 30% !important;
      float: left;
      height: 44vh !important;
    }
  }