.outer {
  margin: 10px;
}

.button1 {
  border: 1px solid black;
  border-radius: 3px;
  width: 150px;
  height: 40px;
  display: block;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  color: black;
}

.button1:hover {
  color: white;  
  background-position: left bottom;
}
