.react-tel-input {
    height: 6vh;
    margin-left: 8px;
    width: 100%;
    margin-top: 15px;
}
.select-state .css-1rn7yzg-control{
  width: 120px;
}
.css-b62m3t-container{
    width: 200px;
    margin: 10px -8px;
}
.css-1a9d28t-control:hover{
  border-color: white;
}
.errorFont{
    font-size: 14
}
.css-1u9des2-indicatorSeparator {
   background-color: transparent !important;
}
.checkout-info-container {
     padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
  }

  .css-tj5bde-Svg{
    display: none !important;
  }

  .css-1eed5fa-MuiInputBase-root-MuiInput-root::before {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.42) !important;
  }

  .css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
    border-bottom: 0.5px solid #cccccc4f !important;
  }

  .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: black !important;
  }

  .flname{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 99% ;
    font-size: 25px;
  }
  .addline{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 98.09% ;
    font-size: 25px,
  }
  .react-tel-input .country-list .country-name{
    color: black;
  }
@media (min-width: 640px) { 
    .checkout-info-container{
        padding: 0 !important;
    }
 }

@media screen and (max-width: 768px) {
  .checkout-info-container {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .checkout-info-container {
    padding: 5px; 
  }
}

@media screen and (max-width: 640px) and (min-width: 200px) {
  .checkout-info-container {
     padding: 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 1px;
  }
  .country1{
    padding: 0;
    margin: 0;
  }
}