.react-tel-input {
    height: 6vh;
    margin-left: 8px;
    width: 100%;
    margin-top: 15px;
}

.css-b62m3t-container{
    width: 200px;
    margin: 10px;
}

.errorFont{
    font-size: 14
    px;
}
.css-1u9des2-indicatorSeparator {
   background-color: transparent !important;
}
.checkout-info-container {
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    margin: 10px;
  }