.Maintitle{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
.title{
    position: absolute;
    bottom: 100px;
    left: 5%;
    color: rgb(245, 235, 235);
    font-size: 30px;
    font-weight: bolder;
}

.button{
    align-items: end;
    margin-left: 15px;
    margin-top:550px;
}

.img-hover-zoom--slowmo {
    overflow: hidden;
}

.img-hover-zoom--slowmo .img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
}

.img-hover-zoom--slowmo:hover .img {
    filter: brightness(100%);
    transform: scale(3);
    height: 100%;
}

.img-hover-zoom--slowmo .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.buttonQueens {
    border: 1px solid black;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    display: block;
    background: linear-gradient(to right, black 50%, #0d0d0d14  50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    color: white;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.buttonQueens:hover {
    color: white;
    background-position: left bottom;
}
