.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    /* width: 20%; */
}

.buy-now-btn{
    width: 100%;
}
.scroll::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  .scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #504e4e13;
  }
  
  .scroll::-webkit-scrollbar-track:hover {
    background-color: #504e4e13;
  }
  
  .scroll::-webkit-scrollbar-track:active {
    background-color: #504e4e13;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #504e4e73;
  }
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background-color: #504e4e73;
  }
  
  .scroll::-webkit-scrollbar-thumb:active {
    background-color: #504e4e73;
  }
  
.backdrop-filter-blur {
  backdrop-filter: blur(5px); 
 
}
.backdrop-blur-sm{
  position: fixed;
}
.drawer-comp {
  @supports (backdrop-filter: blur(8px)) {
    backdrop-filter: blur(8px);
  }
  @supports (-webkit-backdrop-filter: blur(8px)) {
    -webkit-backdrop-filter: blur(8px);
  }
}