.MaintitleQueens {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.titleQueens {
    position: absolute;
    bottom: 100px;
    left: 5%;
    color: white;
    font-size: 23px;
    letter-spacing: 1px;
    /* font-weight: bolder; */
}

.buttonQueens {
    position: absolute;
    bottom: 50px;
    left: 5%;
}

.img-hover-zoom--slowmo {
    overflow: hidden;
}

.img-hover-zoom--slowmo .img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
}

.img-hover-zoom--slowmo:hover .img {
    filter: brightness(100%);
    transform: scale(3);
    height: 100%;
}

.img-hover-zoom--slowmo .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}